/* GLOBAL */
html {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
section,
footer {
  position: relative;
}
section {
  top: -10%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
header .content_section {
  padding: 0;
}
.content_section {
  position: relative;
  padding: 20% 4% 15%;
  z-index: 100;
}
h3 {
  font-family: "FG-heavy";
  font-size: 4em;
  color: #F3B110;
  text-align: center;
}
h4 {
  color: white;
  text-align: center;
  font-family: "RHD-bold";
  font-size: 2em;
}
/* HEADER */
/* HEADER CONTENT */
header {
  position: relative;
  height: calc(20vw + 80vh);
  width: 100%;
  background: -o-radial-gradient(circle, #00377f 0%, #001958 77%, #00034a 100%);
  background: radial-gradient(circle, #00377f 0%, #001958 77%, #00034a 100%);
}
header #header_bar {
  position: relative;
  padding: 1%;
}
header #FF_logo {
  position: relative;
  top: 5px;
  max-width: 250px;
  z-index: 3;
}
header nav {
  position: relative;
  float: right;
  width: 520px;
}
header nav ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header nav li {
  background-color: transparent;
  border-radius: 100px;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
  display: flex;
  align-items: center;
}
header nav li:hover {
  background-color: #F3B110;
}
header nav li:active {
  background-color: #d49c0e;
}
header nav p {
  font-family: "Baumans-regular";
  color: white;
  padding: 8px 15px;
  margin: 0;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
  text-align: center;
}
header nav p:hover {
  color: #030246;
}
header nav p:active {
  color: #886409;
}
header #portfolio {
  position: relative;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
}
header #portfolio ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
header #portfolio .project_info {
  position: absolute;
  width: 30%;
  height: 25%;
  right: 5%;
  top: 10%;
  z-index: 1;
  text-align: right;
}
header #portfolio .project_info p {
  padding: 0;
  margin: 0;
  color: white;
}
header #portfolio .project_info .title {
  font-family: "RHD-bold";
  font-size: 2.75em;
  margin-bottom: 5%;
}
header #portfolio .project_info .subtitle {
  font-family: "RHD-medium";
  font-size: 1.75em;
}
header #portfolio .device {
  position: absolute;
  bottom: 18%;
  right: 5%;
  width: 37%;
  padding-bottom: 18.5%;
  z-index: 1;
  filter: drop-shadow(0 0 20px black);
}
header #portfolio .device img.mobile {
  position: absolute;
  width: 100%;
  z-index: 1;
}
header #portfolio .device .video_container {
  position: absolute;
  width: 94%;
  height: 90%;
  top: 5%;
  left: 3%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
header #portfolio .device video {
  position: absolute;
  width: 100%;
  height: 120%;
  z-index: 0;
}
header #portfolio .background {
  position: absolute;
  background-size: 100%;
}
.autoscroll_arrow {
  margin-top: 80px;
  width: 100%;
  text-align: center;
  z-index: 200;
  -webkit-animation: ease-in-out infinite 2s jump;
  animation: ease-in-out infinite 2s jump;
}
.autoscroll_arrow .arrow {
  width: 25px;
  position: relative;
  padding: 3%;
  cursor: pointer;
}
#autoscroll_arrow_backhome {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 80px;
  animation: none;
}
#fixed_nav {
  position: fixed;
  top: -80px;
  width: 100%;
  height: 80px;
  z-index: 200;
}
#fixed_nav #background_nav {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}
#fixed_nav p {
  font-family: "Baumans-regular";
  font-size: 1em;
  color: white;
  margin: 0;
  padding: 16px 0;
  border-radius: 100px;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
#fixed_nav p:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
#fixed_nav p:active {
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -ms-filter: brightness(80%);
  filter: brightness(80%);
}
#fixed_nav img {
  width: 200px;
}
#fixed_nav ul {
  padding: 0 4%;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#fixed_nav li {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  margin: 0 2%;
}
#fixed_nav li:nth-child(1) {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  text-align: left;
  margin: 0 2% 0 0;
}
#fixed_nav li:nth-last-child(1) {
  margin: 0 0 0 2%;
}
#fixed_news {
  position: fixed;
  width: 50px;
  height: 60px;
  bottom: 0;
  right: 100px;
  z-index: 200;
  -webkit-transition: all ease-out 0.01s;
  -o-transition: all ease-out 0.01s;
  transition: all ease-out 0.01s;
}
#fixed_news .popup_info_bubble {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 13px;
  right: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  opacity: 0;
  animation: appear 1s ease 2s 1 forwards;
}
#fixed_news .popup_info_bubble .content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
#fixed_news .popup_info_bubble .content > * {
  margin: 15px;
}
#fixed_news .popup_info_bubble .content p {
  font-family: "RHD-bold";
  font-size: 1.2em;
  color: white;
  white-space: nowrap;
}
#fixed_news .popup_info_bubble .content img {
  width: 10px;
  margin: 0 60px 0 0;
}
#fixed_news .popup_info_bubble .remove_content {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -25px;
  left: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 20px;
  cursor: pointer;
  transition: transform ease 0.15s;
  opacity: 0;
  animation: appear 1s ease 3s 1 forwards;
}
#fixed_news .popup_info_bubble .remove_content:hover {
  transform: scale(1.2);
}
#fixed_news .popup_info_bubble .remove_content img {
  position: absolute;
  width: 20%;
  z-index: 2;
}
#fixed_news .popup_info_bubble .background {
  position: absolute;
  background-color: white;
  width: 40%;
  height: 40%;
  border-radius: 50px;
  z-index: 1;
}
#fixed_news .twitterContent {
  position: absolute;
  bottom: -120%;
  right: 0;
  width: 94.5%;
  height: 95.4%;
  background-color: white;
  border-top: 10px solid white;
  border-left: 10px solid white;
  outline: 8px solid rgba(255, 255, 255, 0.274);
  overflow-x: hidden;
  -webkit-transition: all ease-out 0.01s;
  -o-transition: all ease-out 0.01s;
  transition: all ease-out 0.01s;
}
#fixed_news .twitterContent::-webkit-scrollbar {
  display: none;
}
#fixed_news .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background: url("../../images/logos/twitter_white.svg") no-repeat center center / 60%, #1d9bf0;
  border-radius: 50px;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
  z-index: 10;
}
#fixed_news .circle:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#fixed_news .circle:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
#fixed_news .circle .bar {
  position: absolute;
  width: 45%;
  height: 5px;
  background-color: white;
  border-radius: 50px;
  opacity: 0;
}
#fixed_news .circle .bar:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#fixed_news .circle .bar:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* SERVICES */
/* SERVICES CONTENT */
#services {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#30b196), color-stop(33%, #338a7c), color-stop(60%, #113c57), to(#020e12));
  background: -o-linear-gradient(top, #30b196 0%, #338a7c 33%, #113c57 60%, #020e12 100%);
  background: linear-gradient(180deg, #30b196 0%, #338a7c 33%, #113c57 60%, #020e12 100%);
}
#services #our_services {
  margin-bottom: 80px;
}
#services #our_services ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1400px;
}
#services #our_services ul li {
  position: relative;
  width: 30%;
  min-width: 330px;
  text-align: center;
  margin: 70px 0;
}
#services #our_services .block_content {
  position: relative;
  background-color: #51DBAB;
  width: 100%;
  height: 100%;
  border-radius: 90px;
  z-index: 51;
}
#services #our_services .text_content {
  position: relative;
  margin: 0 auto;
  width: 70%;
}
#services #our_services .title_block {
  position: relative;
  font-family: "RHD-bold";
  font-size: 2em;
  padding-top: 40px;
  margin: 0;
}
#services #our_services .text_block {
  text-align: justify;
  margin: 40px 0 0 0;
  padding-bottom: 40px;
}
#services #our_services p {
  font-family: "RHD-medium";
  color: white;
  font-size: 1em;
}
#services #our_services .block_BG {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -10%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120%;
  width: 120%;
  z-index: 50;
}
#services #our_services .block_BG img:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
#services #our_services .block_BG img:nth-child(2) {
  width: 95%;
  height: 92%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.1;
}
#services #skills #certif_platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 70px 0;
  padding: 0;
}
#services #skills #certif_platform li {
  margin: 0 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services #skills #certif_platform img {
  width: 100%;
}
#services #skills #cross_platform {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
#services #skills #platform_wheel {
  position: relative;
  width: 500px;
}
#services #skills #platform_wheel .wheel {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 0 auto 70px auto;
}
#services #skills .wheel .label {
  position: absolute;
  background-color: #51DBAB;
  border-radius: 1000px;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#services #skills .wheel .label img:nth-child(1) {
  position: absolute;
}
#services #skills .label.console {
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
}
#services #skills .label.console img:nth-child(1) {
  width: 80%;
}
#services #skills .label.PC {
  left: 0;
  bottom: 0;
}
#services #skills .label.PC img:nth-child(1) {
  width: 40%;
}
#services #skills .label.smartphone {
  right: 0;
  bottom: 0;
}
#services #skills .label.smartphone img:nth-child(1) {
  width: 34%;
}
#services #skills #platform_wheel #text {
  text-align: center;
  position: relative;
  font-family: "RHD-bold";
  font-size: 1.5em;
  color: white;
  width: 100%;
  height: 60px;
  margin: 0;
}
#services #skills .block_BG-1 {
  position: absolute;
  width: 115%;
  height: 115%;
  opacity: 0.1;
  -webkit-animation: linear infinite 30s rotation1;
  animation: linear infinite 30s rotation1;
}
#services #skills .block_BG-2 {
  position: absolute;
  width: 110%;
  height: 110%;
  opacity: 0.1;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-animation: linear infinite 50s rotation2;
  animation: linear infinite 50s rotation2;
}
#services #skills [class^="myarrow"] {
  position: absolute;
}
#services #skills [class^="myarrow"] .line {
  border-right: 0.25rem dashed white;
  display: inline-block;
  height: 7rem;
}
#services #skills [class^="myarrow"] .arrow {
  position: absolute;
  top: -0.3rem;
  bottom: 0;
  height: 1.2rem;
  border-right: 0.3rem solid white;
  border-radius: 100px;
  display: inline-block;
}
#services #skills [class^="myarrow"] .right {
  left: 0.3rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#services #skills [class^="myarrow"] .left {
  right: 0.3rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#services #skills .myarrow-1a {
  top: 156px;
  left: 165px;
  -webkit-transform: rotate(37deg);
  -ms-transform: rotate(37deg);
  transform: rotate(37deg);
}
#services #skills .myarrow-1a .line,
#services #skills .myarrow-1a .arrow {
  border-color: white;
}
#services #skills .myarrow-1b {
  top: 136px;
  left: 145px;
  -webkit-transform: rotate(217deg);
  -ms-transform: rotate(217deg);
  transform: rotate(217deg);
}
#services #skills .myarrow-1b .line,
#services #skills .myarrow-1b .arrow {
  border-color: white;
}
#services #skills .myarrow-2a {
  top: 136px;
  left: 360px;
  -webkit-transform: rotate(-37deg);
  -ms-transform: rotate(-37deg);
  transform: rotate(-37deg);
}
#services #skills .myarrow-2a .line,
#services #skills .myarrow-2a .arrow {
  border-color: white;
}
#services #skills .myarrow-2b {
  top: 146px;
  left: 335px;
  -webkit-transform: rotate(-217deg);
  -ms-transform: rotate(-217deg);
  transform: rotate(-217deg);
}
#services #skills .myarrow-2b .line,
#services #skills .myarrow-2b .arrow {
  border-color: white;
}
#services #skills .myarrow-3a {
  top: 281px;
  left: 250px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#services #skills .myarrow-3a .line,
#services #skills .myarrow-3a .arrow {
  border-color: white;
}
#services #skills .myarrow-3b {
  top: 254px;
  left: 250px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#services #skills .myarrow-3b .line,
#services #skills .myarrow-3b .arrow {
  border-color: white;
}
#services #skills #techno_wheel {
  position: relative;
  width: 500px;
  height: 500px;
}
#services #skills #techno_wheel .wheel {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #51DBAB;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 40%;
  margin: auto;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}
#services #skills #techno_wheel .wheel:hover {
  background-color: hsl(159, 75%, 59%);
  -webkit-box-shadow: 0 0 20px hsl(159, 75%, 59%);
  box-shadow: 0 0 20px hsl(159, 75%, 59%);
}
#services #skills #techno_wheel .wheel img:nth-child(1) {
  width: 50%;
}
#services #skills .circle_list {
  position: absolute;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  margin: auto;
  top: -20%;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#services #skills .circle_list img {
  width: 100%;
}
#services #skills .circle_list [class^="deg"] {
  position: absolute;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
#services #skills .circle_list div div {
  position: absolute;
  top: -75px;
  opacity: 0;
  -webkit-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}
#services #skills .circle_list div div p {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  font-family: "Baumans-regular";
  color: black;
  font-size: 0.85em;
  padding: 10px;
}
#services #skills .deg0 {
  -webkit-transform: rotate(-90deg) translate(10.2em) rotate(90deg);
  -ms-transform: rotate(-90deg) translate(10.2em) rotate(90deg);
  transform: rotate(-90deg) translate(10.2em) rotate(90deg);
}
#services #skills .deg45 {
  -webkit-transform: rotate(-45deg) translate(10.2em) rotate(45deg);
  -ms-transform: rotate(-45deg) translate(10.2em) rotate(45deg);
  transform: rotate(-45deg) translate(10.2em) rotate(45deg);
}
#services #skills .deg90 {
  -webkit-transform: rotate(0deg) translate(10.2em) rotate(0deg);
  -ms-transform: rotate(0deg) translate(10.2em) rotate(0deg);
  transform: rotate(0deg) translate(10.2em) rotate(0deg);
}
#services #skills .deg135 {
  -webkit-transform: rotate(45deg) translate(10.2em) rotate(-45deg);
  -ms-transform: rotate(45deg) translate(10.2em) rotate(-45deg);
  transform: rotate(45deg) translate(10.2em) rotate(-45deg);
}
#services #skills .deg180 {
  -webkit-transform: rotate(90deg) translate(10.2em) rotate(-90deg);
  -ms-transform: rotate(90deg) translate(10.2em) rotate(-90deg);
  transform: rotate(90deg) translate(10.2em) rotate(-90deg);
}
#services #skills .deg225 {
  -webkit-transform: rotate(135deg) translate(10.2em) rotate(-135deg);
  -ms-transform: rotate(135deg) translate(10.2em) rotate(-135deg);
  transform: rotate(135deg) translate(10.2em) rotate(-135deg);
}
#services #skills .deg270 {
  -webkit-transform: rotate(180deg) translate(10.2em) rotate(-180deg);
  -ms-transform: rotate(180deg) translate(10.2em) rotate(-180deg);
  transform: rotate(180deg) translate(10.2em) rotate(-180deg);
}
#services #skills .deg315 {
  -webkit-transform: rotate(225deg) translate(10.2em) rotate(-225deg);
  -ms-transform: rotate(225deg) translate(10.2em) rotate(-225deg);
  transform: rotate(225deg) translate(10.2em) rotate(-225deg);
}
#about {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(16%, #14183D), color-stop(42%, #453180), color-stop(70%, #9F6AE0), to(#9756B3));
  background: -o-linear-gradient(bottom, #14183D 16%, #453180 42%, #9F6AE0 70%, #9756B3 100%);
  background: linear-gradient(0deg, #14183D 16%, #453180 42%, #9F6AE0 70%, #9756B3 100%);
}
#about #step_tree {
  position: relative;
  width: 100%;
  max-width: 1150px;
  overflow: hidden;
  margin: 130px auto 230px auto;
}
#about #line {
  position: absolute;
  height: 100%;
  width: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 100px;
  background-color: #5DDBD0;
}
#about .sub_block_left,
#about .sub_block_right {
  position: relative;
  width: 100%;
}
#about .sub_block_left .step_block,
#about .sub_block_right .step_block {
  position: relative;
  width: 50%;
}
#about .sub_block_left .label,
#about .sub_block_right .label {
  position: absolute;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #5DDBD0;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0px;
}
#about .sub_block_left .title_area,
#about .sub_block_right .title_area {
  background-color: #5DDBD0;
  border-radius: 40px;
  height: 75px;
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#about .sub_block_left .title_area h5,
#about .sub_block_right .title_area h5 {
  font-family: "RHD-bold";
  font-size: 1.4em;
  text-align: center;
  display: inline-block;
  opacity: 0.4;
  padding: 10px;
}
#about .sub_block_left .content_area,
#about .sub_block_right .content_area {
  background-color: #5DDBD0;
  border-radius: 0 0 40px 40px;
  text-align: center;
  width: 85%;
  margin-top: -40px;
  padding-top: 40px;
}
#about .sub_block_left .content_area p,
#about .sub_block_right .content_area p {
  display: inline-block;
  opacity: 0.4;
  font-family: "RHD-medium";
  padding: 10px 40px;
}
#about .sub_block_left .step_block {
  margin-right: 10px;
  float: left;
}
#about .sub_block_left .label {
  right: -50px;
}
#about .sub_block_left .title_area {
  padding-right: 15%;
}
#about .sub_block_right .step_block {
  margin-left: 10px;
  float: right;
}
#about .sub_block_right .label {
  left: -50px;
}
#about .sub_block_right .content_area {
  float: right;
}
#about .sub_block_right .title_area {
  padding-left: 15%;
}
#about #why_us {
  margin-bottom: 110px;
}
#about #why_us ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1650px;
}
#about #why_us ul li {
  position: relative;
  width: 25%;
  min-width: 330px;
  text-align: center;
  margin: 50px;
  max-width: 450px;
}
#about #why_us .block_content {
  position: relative;
  background-color: #5DDBD0;
  width: 100%;
  height: 100%;
  border-radius: 90px;
  z-index: 51;
}
#about #why_us .text_content {
  position: relative;
  margin: 0 auto;
  width: 70%;
}
#about #why_us .title_block {
  position: relative;
  font-family: "RHD-bold";
  font-size: 2em;
  padding-top: 40px;
  margin: 0;
}
#about #why_us .text_block {
  text-align: justify;
  margin: 40px 0 0 0;
  padding-bottom: 40px;
}
#about #why_us p {
  font-family: "RHD-medium";
  font-size: 1em;
  opacity: 0.4;
  color: black;
}
#about #why_us .block_BG {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -10%;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 120%;
  width: 120%;
  z-index: 50;
}
#about #why_us .block_BG img:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
#about #why_us .block_BG img:nth-child(2) {
  width: 95%;
  height: 92%;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  opacity: 0.1;
}
#clients {
  background: -webkit-gradient(linear, left bottom, left top, from(#2C59BA), color-stop(28%, #D66333), color-stop(50%, #DE6735), color-stop(75%, #D98E33), to(#FFF445));
  background: -o-linear-gradient(bottom, #2C59BA 0%, #D66333 28%, #DE6735 50%, #D98E33 75%, #FFF445 100%);
  background: linear-gradient(0deg, #2C59BA 0%, #D66333 28%, #DE6735 50%, #D98E33 75%, #FFF445 100%);
}
#clients h3 {
  color: white;
}
#clients h5 {
  font-family: "RHD-light";
  font-size: 1.3em;
  text-align: center;
  color: white;
}
#clients #list_block {
  position: relative;
  max-width: 1260px;
  margin: 0 auto;
}
#clients #logo_content {
  position: relative;
  z-index: 100;
}
#clients ul {
  position: relative;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#clients li {
  position: relative;
  width: 18%;
  height: 200px;
  margin: 1%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#clients li img {
  width: 75%;
  min-width: 80px;
}
#clients .block_BG {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 50;
}
#clients .block_BG img:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}
#clients .block_BG img:nth-child(2) {
  position: absolute;
  top: -1%;
  left: -0.5%;
  width: 101%;
  height: 98%;
  opacity: 0.1;
}
#contact {
  background: -webkit-gradient(linear, left bottom, left top, from(#2e93ff), color-stop(25%, #54a5dd), color-stop(65%, #598cdd), to(#2e93ff));
  background: -o-linear-gradient(bottom, #2e93ff 0%, #54a5dd 25%, #598cdd 65%, #2e93ff 100%);
  background: linear-gradient(0deg, #2e93ff 0%, #54a5dd 25%, #598cdd 65%, #2e93ff 100%);
}
#contact h5 {
  text-align: center;
  font-family: "RHD-light";
  font-size: 1.3em;
  color: white;
}
#contact h5 span {
  font-family: "RHD-bold";
}
#contact #form_area {
  position: relative;
  margin: 150px auto 135px auto;
  max-width: 1200px;
}
#contact #form_block {
  position: relative;
  background-color: #51cfd3;
  border-radius: 70px;
  z-index: 51;
  padding: 5%;
}
#contact #send_button {
  position: relative;
  margin: 0 auto;
  background-color: #f3b110;
  display: table;
  padding: 12px 45px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}
#contact #send_button:hover {
  background-color: #ffb700;
  -webkit-box-shadow: 0 0 20px #ffb700;
  box-shadow: 0 0 20px #ffb700;
}
#contact #send_button:active {
  -webkit-filter: brightness(85%);
  filter: brightness(85%);
}
#contact #send_button button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  /* Green */
  border: none;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
#contact #send_button button:focus {
  outline: none;
}
#contact #send_button p {
  margin: 0;
  font-family: "FG-heavy";
  font-size: 1.6em;
  color: #b4850e;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
#contact ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#contact li {
  width: 46%;
}
#contact input {
  width: 94%;
  padding: 13px 0% 13px 6%;
  background-color: #41a6a9;
  border-radius: 100px;
  font-family: "RHD-medium";
  font-size: 1.2em;
  color: #2a6d6f;
  border: none;
  outline: none;
  margin-bottom: 30px;
}
#contact ::-webkit-input-placeholder {
  color: #2a6d6f;
  opacity: 0.4;
}
#contact ::-moz-placeholder {
  color: #2a6d6f;
  opacity: 0.4;
}
#contact :-ms-input-placeholder {
  color: #2a6d6f;
  opacity: 0.4;
}
#contact ::-ms-input-placeholder {
  color: #2a6d6f;
  opacity: 0.4;
}
#contact ::placeholder {
  color: #2a6d6f;
  opacity: 0.4;
}
#contact input:focus,
#contact textarea:focus {
  border: #f3b110 solid 2px;
  margin: -2px;
  color: #1c484a;
  background-color: #41a6a9;
}
#contact textarea {
  width: 100%;
  height: 200px;
  min-height: 100px;
  padding: 30px;
  background-color: #41a6a9;
  border-radius: 40px;
  font-family: "RHD-medium";
  font-size: 1.2em;
  color: #2a6d6f;
  border: none;
  outline: none;
  resize: vertical;
}
#contact #block_BG {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
}
#contact #block_BG img:nth-child(1) {
  position: absolute;
  width: calc(100% + 80px);
  height: calc(100% + 80px);
  z-index: 1;
  opacity: 0.1;
}
#contact #block_BG img:nth-child(2) {
  position: absolute;
  width: calc(100% + 50px);
  height: calc(100% + 50px);
  opacity: 0.1;
}
#contact .newsletter_area {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
#contact .newsletter_area p {
  position: relative;
  display: inline-block;
  color: white;
  font-family: "RHD-bold";
  font-size: 2em;
  text-decoration: none;
  animation: pulse 2s ease infinite;
  transition: all ease 1s;
}
#contact .newsletter_area p:hover {
  text-decoration: underline;
  animation: none;
  transform: scale(1);
}
footer {
  position: relative;
}
footer #content_footer {
  position: relative;
  padding: 2% 4% 0 4%;
  background-color: #142a51;
  z-index: 100;
  font-family: "RHD-medium";
  color: white;
}
footer #content_footer #main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
footer #content_footer ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 30%;
}
footer #content_footer #info_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 20%;
  min-width: 290px;
}
footer #content_footer #info_2 li {
  position: relative;
  width: 52px;
  margin: 0px 10px;
  padding: 5px;
  border-radius: 100px;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
footer #content_footer #info_2 li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
footer #content_footer #info_2 img {
  width: 100%;
}
footer #content_footer #info_3 p {
  text-align: right;
  color: white;
  -webkit-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
footer #content_footer #info_3 p:hover {
  color: #f3b110;
}
footer #content_footer #bottom_info {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0.95em;
}
#parallax {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 10px;
  perspective-origin: center;
  transform-style: preserve-3d;
  scroll-behavior: smooth;
}
